<h1 style="color:blue">
    Migración alumnos Azure Tables
</h1>

<form method="post">
    <button class="btn btn-danger" name="accion" value="accion">
        Comenzar
    </button>
</form>

<h2 style="color:fuchsia">
    @ViewData["MENSAJE"]
</h2>